//
   Created by jay on 4/23/17.

html
    head
        title= title
        body
            p 'Welcome to the chat bot!
            script(src="/socket.io/socket.io.js")
            script(src="/js/index.js")
        footer